<!-- <p>direct works! refer custom-directive.directive.ts </p> -->
<!-- <div [ngStyle]="{ 'background-color': 'purple' }">Customizing the directive with ngstyle</div> -->

<!-- <div appCustomDirectiv>
    Customizing the directive with ngStyle
</div> -->


<!-- <appCustomDirectiv>
    Customizing the directive with ngStyle
</appCustomDirectiv> -->


<!-- Please refer this one  -->
<!-- <div style="text-align: center; padding: 30px;">
    
    <h1>This is the parent component</h1>
    <button (click)="veganValue=true">Vegan Food</button>
    <button (click)="veganValue=false">Non-Vegan Food</button>
    <app-comp-life-cycle [vegan]="veganValue" />
    </div> -->


    
   <!-- <appCustomDirectiv>
    Customizing the directive with ngStyle
</appCustomDirectiv> -->

<!-- <br><br>
<appCustomDirectiv [defaultColor]="'red'" [afterColor]="'yellow'">
    Customizing the directive with ngStyle
</appCustomDirectiv> -->

<!-- 38. Create Custom Structural Directive in the Angular using TemplateRef and ViewContainerRef -->

<button (click)="practice()" [disabled]="!customIf">
    Add User
  </button>

  
<DIV *ngIf="customIf">
    38. Create Custom Structural Directive in the Angular using TemplateRef and ViewContainerRef
</DIV>

<!-- behind scenes this  -->
<ng-template [ngIf]="customIf">
    <div>38. Create Custom Structural Directive in the Angular using TemplateRef and ViewContainerRef</div>
</ng-template>


<!-- 38. Create Custom Structural Directive in the Angular using TemplateRef and ViewContainerRef  -->
<div *appStrucdirective="customIf">
    40.Create Custom Structural Directive in the Angular using TemplateRef and ViewContainerRef based on true or false 
</div>