<!-- <p>direct works! refer custom-directive.directive.ts </p> -->
<!-- <div [ngStyle]="{ 'background-color': 'purple' }">Customizing the directive with ngstyle</div> -->

<!-- <div appCustomDirectiv>
    Customizing the directive with ngStyle
</div> -->


<!-- <appCustomDirectiv>
    Customizing the directive with ngStyle
</appCustomDirectiv> -->


<!-- Please refer this one  -->
<!-- <div style="text-align: center; padding: 30px;">
    
    <h1>This is the parent component</h1>
    <button (click)="veganValue=true">Vegan Food</button>
    <button (click)="veganValue=false">Non-Vegan Food</button>
    <app-comp-life-cycle [vegan]="veganValue" />
    </div> -->

   <appCustomDirectiv>
    Customizing the directive with ngStyle
</appCustomDirectiv>